
.upload-section {
padding-bottom: 15px;
}


.collapsible {
    background-color: #959f8c;
    color: #162a16;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border-color: rgb(254, 254, 254);
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: rgb(78, 86, 71);
    color: white;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(168, 175, 158);
}


.three-column-list {
    column-count: 3;
    list-style-type: none;  /* removes bullet points */
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.ActivateButton {
    background-color:#959f8c;
    font-weight: bold;
    width: 13%;
    margin-left: 3%;
}